<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Table1</title>
    <style>
        table,th,td{
            border: 2px solid beige;
            
           
        }
        table{
            width: 80%;
            height: 400px;
            margin-left: 60px;
            margin-top: 30px;
            background-color: lightgreen;
        }
        thead{
            background-color: lawngreen;
        }
        
        
    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>Product Id</td>
        <td>Product Name</td>
        <td>Product Quality</td>
        <td>Product Quantity</td>
    </tr>
    </thead>
    
    <tr>
        <td>1</td>
        <td>wheat</td>
        <td>Good</td>
        <td>200 bags</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Rice</td>
        <td>Good</td>
        <td>250 bags</td>
    </tr>
    <tr>
        <td>3</td>
        <td>sugar</td>
        <td>Good</td>
        <td>200 bags</td>
    </tr>
    <tr>
        <td>3</td>
        <td>sugar</td>
        <td>Good</td>
        <td>200 bags</td></tr>
    <tr>
        <td>3</td>
        <td>sugar</td>
        <td>Good</td>
        <td>200 bags</td>
    </tr>
       <tr>
        <td>3</td>
        <td>sugar</td>
        <td>Good</td>
        <td>200 bags</td>
    </tr>
    </tr>
       <tr>
        <td>3</td>
        <td>sugar</td>
        <td>Good</td>
        <td>200 bags</td>
    </tr>
    
    
    
    
</table>




</body>
</html>